@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
}

body{
    background-color: black;
    color: white;
    font-family: "Inter";
}

li, a, button {
    font-weight: 300;
    font-size: 1em;
    color: white;
}

a{
	text-decoration: none;
    transition: all .2s ease;
}

a:hover {
    color: #b03229;
}

ul{
	list-style-type:none;	
	padding: 0;
}

button {
    display:inline-block;
    box-sizing: border-box;
    padding: 0.9em 1.8em;
    margin:0 0.3em 0.3em 0;
    border: none;
    background-color: #DA3A30;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .15em;
    cursor: pointer;
    transition: all .2s ease;
}

button:hover {
    background-color: #b03229;
}

button:active {
    background-color: #7a211a;
}

/* Header */
header {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.logo {
    width: 12.5em;
    cursor: pointer;
    margin: 0.8em;
}

.header-container {
    max-width: 1200px;
    max-height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav-links {
    list-style: none;
}

.header-nav-links li {
    display: inline-block;
    padding: 0 1em;
}

.header-nav-links li a {
    transition: all .2s ease;
}

.header-nav-links li a:hover {
    color: #DA3A30;
}

#phone {
    border: 1px solid #FFFFFF;
    padding: .4em;
    border-radius: 4px;
    font-size: 12px;
}

#present {
    border: 1px solid #DA3A30;
    padding: .65em;
    border-radius: 4px;
}

.header-btn {
    background-color: #DA3A30;
}

.login {
    background-color: #FFFFFF;
    color: black;
}

.login:hover {
    background-color: #cccccc;
}

.login:active {
    background-color: #a7a7a7;
}

/* Main */
main {
    margin-top: 2em;
    background-color: rgb(85, 16, 16);
    display: flex;
    flex-direction: column;
}

.category-menu{
    padding: 1em;
	font-size: 1.1em;
    text-transform: none;
}

.category-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.category-ul li{
	padding: 10px 16px;
}

.category-list {
    color: #b3b3b3;
}

.selected-category {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: .6em;
}

/* Swiper slides */
.swiper {
    z-index: 0;
    width: 100%;
    height: 300px;
    margin: 20px auto;
}

.swiper-slide {
    color: black;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer {
    /* background-color: rgb(80, 58, 58); */
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.footer-container {
    width: 1000px;
    display: flex;
    margin-bottom: 4em;
}

.f1 {
    border-bottom: 1px solid #626262;
    margin: 0;
}

.footer-nav {
    width: 380px;
    padding: 2em 3em;
}

.logo-container {
    width: 280px;
}

.logo-text {
    font-size: 13px;
    text-transform: none;
    line-height: 24px;
}

.logo-text p {
    color: #b3b3b3;
}

.footer-title {
    font-weight: 400;
    font-size: 18px;
    padding: 5px 0;
}

.footer-nav-links {
    text-transform: none;
    font-size: 13px;
}

.footer-links-list {
    padding: 10px 0;
}

.footer-links-list a {
    color: #b3b3b3;
}

.footer-btn {
    padding: 1.5em;
}

.footer-bottom {
    width: 25em;
    text-align: center;
    margin-top: 4em;
    margin-right: 1em;
    font-size: 0.8em;
    text-transform: none;
}

.footer-bottom a {
    color: #b3b3b3;
}

.footer-logo {
    width: 100%;
}

.footer-logos-container{
    display: flex;
    margin: 1em;
}

.footer-container a {
    margin-right: 1em;
}

#youtube {
    width: 25px;
    height: 30px;
}

#vk {
    width: 25px;
    height: 25px;
}

/* Layout */
.adaptive{
    height: 100%;
    margin: auto;
}

.adaptive > * {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px){
    .adaptive{
        width: 1000px;
    }
}
@media (max-width: 1024px){
    .adaptive{
        width: 768px;
    }
    .header-nav {
        display: none;
    }
}
@media (max-width: 768px){
    .adaptive{
        width: 480px;
    }
}
@media (max-width: 480px){
    .adaptive{
        width: 100%;
    }
    button{
        display:block;
        margin:0.4em auto;
    }
}