@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
}

body{
    background-color: black;
    color: white;
    font-family: "Inter";
}

li, a, button {
    font-weight: 300;
    font-size: 1em;
    color: white;
}

a{
	text-decoration: none;
}

ul{
	list-style-type:none;	
	padding: 0;
}

button {
    padding: 9px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s ease;
}

button:hover {
    background-color: #b03229;
}

button:active {
    background-color: #7a211a;
}

/* Header */
header {
    background-color: rgb(160, 89, 89);
}

.logo {
    width: 160px;
    cursor: pointer;
    margin: 13px;
}

.header-container {
    width: 1000px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav-links {
    list-style: none;
}

.header-nav-links li {
    display: inline-block;
    padding: 0 25px;
}

.header-nav-links li a {
    transition: all .2s ease;
}

.header-nav-links li a:hover {
    color: #DA3A30;
}

.header-btn {
    background-color: #DA3A30;
}

.login {
    background-color: #FFFFFF;
    color: black;
}

.login:hover {
    background-color: #cccccc;
}

.login:active {
    background-color: #a7a7a7;
}

/* Main */
main {
    background-color: rgb(85, 16, 16);
    display: flex;
    flex-direction: column;
}


/* Swiper slides */
.swiper {
    width: 100%;
    height: 300px;
    margin: 20px auto;
}

.swiper-slide {
    color: black;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer {
    background-color: rgb(220, 182, 182);
}

.footer-menu{
	display: flex;
	justify-content: space-between;
	gap: 20px;
	font-size: 12px;
}

.footer-menu li{
	padding: 6px 0;
}

.ulHead{
	font-size: 14px;
	font-weight:600;
}

/* Layout */
.adaptive{
    height: 100%;
    margin: auto;
}

.adaptive > * {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px){
    .adaptive{
        width: 1000px;
    }
}
@media (max-width: 1000px){
    .adaptive{
        width: 768px;
    }
}
@media (max-width: 768px){
    .adaptive{
        width: 480px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: 100px;
    }
}
@media (max-width: 480px){
    .adaptive{
        width: 100%;
    }
}