@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
}

body{
    background-color: black;
    color: white;
    font-family: "Inter";
}

li, a, button {
    font-weight: 300;
    font-size: 1em;
    color: white;
}

a{
	text-decoration: none;
    transition: all .2s ease;
}

a:hover {
    color: #b03229;
}

ul{
	list-style-type:none;	
	padding: 0;
}

button {
    display:inline-block;
    box-sizing: border-box;
    padding: 1.4em 2.2em;
    margin:0 0.3em 0.3em 0;
    border: none;
    background-color: #DA3A30;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .15em;
    cursor: pointer;
    transition: all .2s ease;
}

button:hover {
    background-color: #b03229;
}

button:active {
    background-color: #7a211a;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header */
header {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 0.8em;
    letter-spacing: 1.5px;
}

.logo {
    width: 12.5em;
    cursor: pointer;
    margin: 0.8em;
}

.header-container {
    max-width: 1200px;
    max-height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav-links {
    list-style: none;
}

.header-nav-links li {
    display: inline-block;
    padding: 0 1em;
}

.header-nav-links li a {
    transition: all .2s ease;
}

.header-nav-links li a:hover {
    color: #DA3A30;
}

#phone {
    border: 1px solid #FFFFFF;
    padding: .4em;
    border-radius: 4px;
    font-size: 12px;
}

.header-btn {
    background-color: #DA3A30;
}

.white-btn {
    background-color: #FFFFFF;
    color: black;
}

.white-btn:hover {
    background-color: #cccccc;
}

.white-btn:active {
    background-color: #a7a7a7;
}

/* Main */
main {
    width: 100%;
    margin-top: 2em;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.pic {
    max-width: 100%;
    height: auto;
}

.main-picture .main-title{
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 2em;
    background-color: #00000056;
    backdrop-filter: blur(1px);
    padding-top: 1em;
    width: 100%;
}

.main-picture {
    margin-bottom: 8em;
}

.main-title h1, h2 {
    font-weight: 400;
}

.main-text {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: none;
    font-weight: 200;
    font-size: 1.2em;
}

.main-text h3 {
    margin: 1em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 300;
    font-size: 1.5em;
}

/* Categories */
.category-menu{
    padding: 1em;
	font-size: 1.1em;
    text-transform: none;
}

.category-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.category-ul li{
	padding: 10px 16px;
}

.category-list {
    color: #b3b3b3;
}

.selected-category {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: .6em;
}

/* Courses */
.course-content {
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.course-card {
    position: relative;
    max-width: 32em;
    margin: .8em;
}

.course-card img {
    width: 100%;
    height: auto;
}

.course-btn-link {
    position: absolute;
    top: 85%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.more-btn {
    background-color: #000000;
    border: 1px solid #DA3A30;
    padding: 15px;
    border-radius: 4px;
}

/* Trailer */
.trailer-content {
    position: relative;
    max-width: 1170px;
    padding: 3em;
}

.trailer-content img {
    width: 100%;
    height: auto;
}

.trailer-content .trailer-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: .8em;
    padding: 3% 10%;
    border-radius: 20px;
    background-color: #1C1C1C;
}

.trailer-content .trailer-btn:hover {
    background-color: #ae2f26;
}

.trailer-btn p {
    display: inline-block;
    vertical-align: middle;
}

.material-icons {
    font-size: 2.5em;
	margin-right: 10px;
    vertical-align: middle;
}

/* text under trailer */
.text-cards {
    max-width: 780px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 5em;
    justify-content: center;
    align-items: center;
}

.text-card {
    border: 1px solid #202020;
    border-radius: 10px;
    color: #D6D6D6;
    padding: 1em 1.8em;
    height: 80px;
    text-transform: none;
    font-size: 1em;
    font-weight: 400;
    text-wrap: balance;
    text-align: center;
}

/* Calendar % Subscribe */
.calendar-container {
    margin: 6em;
    text-align: center;
}

.calendar-container h1 {
    font-weight: 400;
    letter-spacing: 4px;
    padding-bottom: .8em;
}

.calendar-container p {
    color: #919191;
    padding-bottom: 3em;
}

.subscribe-container {
    margin: 6em;
    width: 100%;
    background-color: #141414;
    display: flex;
    justify-content: center;
    padding: 3em;
}

.subscribe-content {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}

.subscribe-content h2 {
    font-weight: 400;
    letter-spacing: 4px;
    padding-bottom: .5em;
}

.subscribe-content p {
    color: #919191;
    text-transform: none;
}

.subscribe-btn {
    padding: 1.2em 10em;
}

/* Access container */
.access-container {
    display: flex;
    margin: 5em 0;
}

.access-container-title{
    font-weight: 400;
    letter-spacing: 4px;
    padding-top: 2em;
    font-size: 2.2em;
}

.access-cards {
    max-width: 1000px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.access-card {
    max-width: 350px;
    max-height: 160px;
    background-color: #141414;
    border: 1px solid #1C1C1C;
    padding: 1.5em;
    transition: all .1s ease;
    cursor: default;
}

.access-card h2 {
    text-align: start;
    letter-spacing: 8px;
    font-weight: 300;
    font-size: 1.8em;
}

.access-card p {
    line-height: 24px;
    text-transform: none;
    font-size: .75em;
}

.access-card:hover {
    background-color: #000000;
    border-color: #b03229;
}

.access-images {
    position: absolute;
}

#laptop-img, #phone-img {
    position: relative;
}

#laptop-img {
    top: -10px;
}

.lap-imgs {
    position: absolute;
    width: 380px;
    height: 239px;
    left: 505px;
}

#phone-img {
    top: 40px;
    left: -100px;
}

.ph-imgs{
    position: absolute;
    width: 108px;
    height: 235px;
    left: 842px;
    top: 3618px;
}

/*  */
.options-container {
    display: flex;
    margin: 4em 0;
}

.options {
    margin: 2em 4em;
}

.checklist {
    margin-top: 3.8em;
    margin-bottom: 3.8em;
}

.check {
    margin: 1em 0;
    display: flex;
}

.check-text {
    font-size: 1.4em;
    vertical-align: middle;
    text-transform: none;
}

.done {
    width: 30px;
    height: 30px;
    font-size: 1.8em;
    border-radius: 15px;
    border: 1px solid #b03229;
    background-color: #b03229;
}

.options-img{
    width: 100%;
    height: auto;
}

.options-img img {
    max-width: 100%;
    height: auto;
}

/* Subcribe cards */
.sub-cards-container {
    margin: 5em 0;
}

.sub-cards {
    display: flex;
    justify-content: center;
}

.sub-cards-content {
    padding: 1em;
}

.sub-option {
    background-color: #FFFFFF;
    color: #DA3A30;
    max-width: 11em;
    text-align: center;
    border-radius: 4px;
    padding: .2em;
    margin-left: 15em;
}

.sub-option p{
    font-size: .8em;
}

.sub-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DA3A30;
    max-width: 26em;
    height: 28em;
    padding: 1em;
}

.sub-card-content h3 {
    text-align: start;
    font-weight: 400;
    padding-bottom: 1em;
    margin-left: 1.3em;
}

.sub-card-content span {
    margin-left: 2em;
    font-size: 0.8em;
    text-transform: none;
}

.sublist {
    margin-top: .8em;
    margin-bottom: .8em;
}

.sub-li {
    padding: 0 2em;
    margin: 1em 0;
    display: flex;
}

.sub-text {
    font-size: 0.8em;
    text-transform: none;
}

.sub-lite, .sub-lite-btn {
    background-color: #1C1C1C;
}

.sub-btn {
    border: 1px solid #FFFFFF;
    margin-left: 1em;
}

.sub-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Swiper slides */
.swiper {
    z-index: 0;
    max-width: 100%;
    height: 28em;
    margin: 20px auto;
}

.swiper-title {
    margin: 1em;
    letter-spacing: 4px;
}

.swiper-slide {
    height: 22em;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1em;
    background: #141414;
    border: 1px solid #1C1C1C;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: none;
    margin-top: 60px;
}

.ava {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 100%;
    margin: -3.75em auto 1.25em;
}

.ava img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-title h2 {
    font-size: 1.1em;
}

.slide-title p {
    color: #858585;
    font-size: 0.8em;
    margin-bottom: 1em;
}

.slide-title span {
    font-size: 0.8em;
}

.slide-content {
    padding: .2em 2em;
    margin: 1em 0;
    text-align: start;
    font-size: 0.8em;
    overflow-x: hidden;
    overflow-y: auto;
}

.slide-content::-webkit-scrollbar {
    display: none;
}

.swiper-btn-container {
    background-color: #7a211a;
}

.swiper-button-next, .swiper-button-prev {
    color: #FFFFFF;
    border-radius: 50%;
    padding: 2em;
    margin: 0 4em;
    background-color: #1c1c1ca2;
    backdrop-filter: blur(5px);
}

.swiper-pagination-bullets {
    margin-top: 2em;
}

.swiper-pagination-bullet{
    background-color: #ffffff9f;
}

.swiper-pagination-bullet-active {
    background-color: #FFFFFF;
    border: 1px solid #DA3A30;
}

/* Footer */
footer {
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer-col {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4em;
}

.footer-col a {
    margin-right: 1em;
}

.footer-coll1 {
    border-bottom: 1px solid #626262;
    margin: 0;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    padding: 2em 3em;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 280px;
    max-width: 350px;
}

.logo-text {
    font-size: 13px;
    text-transform: none;
    line-height: 24px;
}

.logo-text p {
    color: #b3b3b3;
}

.footer-title {
    font-weight: 400;
    font-size: 18px;
    padding: 5px 0;
}

.footer-nav-links {
    text-transform: none;
    font-size: 13px;
}

.footer-links-list {
    padding: 10px 0;
}

.footer-links-list a {
    color: #b3b3b3;
}

.footer-btn {
    padding: 1.5em;
}

.footer-bottom {
    text-align: center;
    margin-top: 4em;
    margin-right: .8em;
    font-size: 0.8em;
    text-transform: none;
}

.footer-bottom a {
    color: #b3b3b3;
}

.footer-logo {
    width: 100%;
}

.footer-logos-container{
    display: flex;
}

.logos {
    margin-top: 1em;
}

#youtube {
    width: 25px;
    height: 30px;
}

#vk {
    width: 25px;
    height: 25px;
}

/* Layout */
.adaptive{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.adaptive > * {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px){
    /* .adaptive{
        width: 1000px;
    } */
    .text-card { max-width: 560px }
    .options-container {
        flex-direction: column;
    }
}

@media (max-width: 1024px){
    /* .adaptive{
        width: 1024px;
    } */
    .header-nav {
        display: none;
    }
    .text-cards { grid-template-columns: repeat(2, 1fr); }
    .subscribe-content {flex-direction: column;}
    .sub-cards{flex-direction: column;}
}

@media (max-width: 768px){
    /* .adaptive{
        width: 768px;
    } */
    .swiper-slide {
        max-width: 70%;
        margin-left: 8.75em;
        margin-right: 6.25em;
        justify-content: center;
        align-items: center;
    }
    .swiper-button-next, .swiper-button-prev {
        border-radius: 0;
        padding: 2em;
        margin: 0;
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0);
    }
    .text-cards {grid-template-columns: repeat(1, 1fr); }
    .subscribe-content {text-align: center;}
    .subscribe-btn {margin-top: 2em;}
}

@media (max-width: 480px){
    /* .adaptive{
        width: 100%;
    } */
}